.magnifier-cmp {
	height: 24px;
}
.search-text {
	height: 38px;
}
.device-bg-1 {
	background-color: #e9ecef !important;
}

.search {
	height: 50px;
}

.devicePartListWrapper {
	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: calc(100% - 50px);
	overflow-y: scroll;
}

.deviceDetailWrapper {
	height: 100%;
	overflow-y: scroll;
}

.height-100 {
	height: 100%;
}

.black-font {
	color: black;
}
.labtop-color {
	background-color: #b8daff !important;
}

.detail-title {
	font-size: 30px !important;
	font-weight: bolder;
}

.text-Center {
	text-align: center;
}

.border-none {
	border: none !important;
}

.search-label-font {
	font-size: 8px !important;
	font-weight: bolder !important;
}
.search-wrapper {
	position:relative;
	width:100%;
	height:100%;
	min-height: 250px;
	z-index:1;
	border: 1px solid #bec8d8;
	background: white;
}
