html, body { height:100%;}
#root, #root .container-fluid{
	width:100%;
	height:100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.hidden {
	display: none !important;
}

.height-100 {
	height: 100%;
}
